<uses-permission android:name="android.permission.INTERNET" />

<application ...>
   <meta-data android:name="com.snapchat.kit.sdk.clientId" android:value="your app’s client id" />
   <meta-data android:name="com.snapchat.kit.sdk.redirectUrl" android:value="the url that will handle login completion" />
   <meta-data android:name="com.snapchat.kit.sdk.scopes" android:resource="@array/snap_connect_scopes" /> <!-- This should be a string array of scopes !-->

   ...

   <activity
       android:name="com.snapchat.kit.sdk.SnapKitActivity"
       android:launchMode="singleTask"
       >
       <intent-filter android:autoVerify="true">
           <action android:name="android.intent.action.VIEW" />
           <category android:name="android.intent.category.DEFAULT" />
           <category android:name="android.intent.category.BROWSABLE" />
           <!--
               Enter the parts of your redirect url below
               e.g., if your redirect url is myapp://snap-kit/oauth2
                   android:scheme="myapp"
                   android:host="abc"
                   android:path="/xy/z"
           !-->
           <data
               android:scheme="http"
               android:host="http://localhost:19002/"
               android:path="http://localhost:19002/"
               />
       </intent-filter>

   </activity>

   ...
</application>